<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>TD1 Exo 1</title>
<style>

</style>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-cookies.min.js"></script>
<script src="app/NoteApp.js"></script>
<script src="app/NoteController.js"></script>
</head>
<body ng-app="TD1" data-ng-controller="controllerTD1 as tdCtrl">

	<div class="container" style="margin-top:200px;">
		<div class="ng-scope" id="note">
			<div class="panel panel-primary">
				<div class="panel-heading">Ex 1 : Note Application</div>
				<div class="panel-body">
					<div class="form-group">
					<p><label for="message">Note :</label>
						<textarea style="" data-ng-change="tdCtrl.count()" name="message" id="message" data-ng-model="tdCtrl.message" cols="40" rows="5" class="form-control ng-pristine ng-valid ng-valid-maxlength ng-touched" maxlength="100"></textarea>
					</p>
					<p>
						<button data-ng_click="tdCtrl.save()" class="btn btn-primary">Enregistrer</button>
						<button data-ng-click="tdCtrl.clear()" class="btn btn-primary">Effacer</button>
					</p>
						<div ng-class="{	'alert-warning':tdCtrl.caract<50 ,
											'alert-danger':tdCtrl.caract<20 
										}" class="alert alert-info alert-dismissible" role="alert">Nombre de caractères restant : {{tdCtrl.caract}}</div>
						
						<div ng-class="{
											'alert-info':tdCtrl.message=='',
											'alert-warning':tdCtrl.message!='' &amp;&amp; tdCtrl.info!='Note sauvegardée',
											'alert-danger':tdCtrl.count()<10 &amp;&amp; tdCtrl.info!='Note sauvegardée',
											'alert-success':tdCtrl.info=='Note sauvegardée'
											
										}" class="alert alert-dismissible alert-info ng-hide" role="alert" data-ng-show="tdCtrl.message">



							<button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="tdCtrl.info=''"><span aria-hidden="true">×</span></button>
							<span class="ng-binding">{{tdCtrl.info}}</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</body>
</html>