<fieldset data-ng-show="tdCtrl.edit" class="container form-group form-inline">
    <legend class="ng-binding">Ajouter un contact</legend>
    <form name="frmContact" data-ng-submit="" novalidate="" class="ng-pristine ng-invalid ng-invalid-required ng-valid-email">
        <input class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required" type="text" data-ng-model="tdCtrl.tmpContact.name" placeholder="Entrez un nom..." required="">
        <input class="form-control ng-pristine ng-untouched ng-valid" type="text" data-ng-model="tdCtrl.tmpContact.firstname" placeholder="Prénom...">
        <input class="form-control ng-pristine ng-untouched ng-valid-email ng-invalid ng-invalid-required" type="email" data-ng-model="tdCtrl.tmpContact.mail" placeholder="Adresse email..." required="">
        <input type="submit" value="Valider" data-ng-click="tdCtrl.Add(frmContact.$valid)" class="btn btn-primary">
        <input type="button" value="Annuler" data-ng-click="tdCtrl.toAdd();tdCtrl.edit=false" class="btn btn-primary">
    </form>
</fieldset>