<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>TD2 Exo 1</title>
    <style>

    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-cookies.min.js"></script>
    <script src="app/servicesApp.js"></script>
    <script src="app/servicesApp.js"></script>
    <script src="app/servicesController.js"></script>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link rel="stylesheet" type="text/css" href="css/prism.css">
    <link rel="stylesheet" type="text/css" href="css/css.css">
</head>
<body ng-app="TD2" data-ng-controller="controllerTD2 as tdCtrl">
<div class="container">
    <!-- ngView:  --><div ng-view="" class="toggle ng-scope"><div id="contact" class="ng-scope">
    <div class="panel panel-primary">
        <div class="panel-heading">Contacts</div>
        <div class="panel-body">
            <input type="text" placeholder="Filtrer..." data-ng-model="q" class="form-control ng-pristine ng-untouched ng-valid">
            <table class="table table-striped" id="lstContact">
                <tbody><!-- ngRepeat: contact in contacts |NotDeletedFilter |filter:q as results -->
                <tr contact-elem class="animate-repeat ng-scope" data-ng-repeat="contact in tdCtrl.contacts |filter:q as results">
                </tr>
                <tr><td colspan="4">
                    <a id="add" href="" data-ng-click="tdCtrl.toAdd()" class="btn btn-primary">Ajouter...</a>
                    <a id="add" href="" data-ng-show="results.length<contacts.length &amp;&amp; !q" data-ng-click="cancelOne()" class="btn btn-danger ng-hide">
                        <data-ng-pluralize count="contacts.length-results.length" when="{'one': 'Annuler la suppression.',
                     'other': 'Annuler les suppressions ({}) .'}">Annuler les suppressions (0) .</data-ng-pluralize>
                    </a></td></tr>
                </tbody></table>
        </div>
        <frm-contact-elem>
        </frm-contact-elem>
        <div class="container"><data-ng-pluralize count="tdCtrl.contacts.length" when="{'0': 'Aucun résultat.',
                     'one': '1 contact trouvé.',
                     'other': '{} contacts trouvés.'}">3 contacts trouvés.</data-ng-pluralize>
        </div>
    </div>
</div></div>
</div>
</body>
</html>